.first{
	width:auto;
	height:450px;
}
.first img{
	height:450px;
	width:100%;
}
.text{
	height:200px;
	width:400px;
	margin-top:-360px;
	margin-left:120px;
	color:white;
	font-family:arial;
}
.text h1{
	font-size:40px;
}
.text p{
	font-size:25px;
	line-height:30px;
}
.second{
	width:100%;
	height:250px;
	padding-top:45px;
}
.text1{
	width:90%;
	height:200px;
	color:#424242;
	margin:0 auto;
	font-size:18px;
	line-height:28px;
	font-family:arial;
	padding-top:5px;
}
.left{
	width:20%;
	height:480px;
	background-color:#EFEBE9;
	float:left;
}
.permira{
	padding-left:70px;
	padding-top:100px;
}
.right{
	width:80%;
	height:480px;
	float:right;
	background-color:#EFEBE9;
}
.sophia{
	width:70%;
	height:300px;
	padding-top:50px;
	padding-left:75px;
}
.sophia p{
	font-size:18px;
	font-family:arial;
	color:#424242;
	line-height:25px;
}
.sophia input{
	height:40px;
	width:250px;
	background-color:#E65100;
	color:white;
}