.first{
	width:100%;
	height:350px;
	background-color:#3F51B5;
}
.text{
	width:80%;
	height:250px;
	color:white;
	margin-left:100px;
	padding-top:50px;
	font-family:arial;
}
.text p{
	font-size:20px;
}
.second{
	width:100%;
	height:600px;
	background-color:#E8EAF6;
	
}
.m-form{
	width:80%;
	height:450px;
	margin-left:100px;
	padding-top:40px;
	color:#424242;
}
.m-form p{
	font-size:18px;
	font-family:arial;
}
.m-form input{
	height:40px;
	width:90%;
}
.btn{
	width:90%;
}
.btn input{
	height:40px;
	width:150px;
	float:right;
	background-color:#3F51B5;
	color:white;
	font-family:arial;
}
