
.main-part{
	height: 1200px;
	margin-left: 80px;
	margin-right:250px;
	background-color: white;
}
.first-part{
	height: 30px;
	margin-top:30px;
	
}
.purple{
	color: purple;
	text-decoration: none;
	font-size: 15px;
}
.second-part{
	height: 40px;
	background-color:white;
}
.text{
 color: #3B3B3B;
}
.third-part{
	height: 60px;
}
.pragraph{
	margin-top: 20px;
	color: gray;
}
.fourth-part{
	height: 200px;
}
.icon-one{height: 50px;}
.pic-0ne{color: #7B3F00;}
.table-content-part-one{
	margin-top: 30px;
	margin-bottom:30px
}














