*{
    margin: 0; padding: 0;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
}
/* HEADER TOP AREA */

.header_top {
    background-color: #EBEFEF;
    height: 85px;
}
.left {
    float: left;
}
.left a i {
    padding-left: 60px;
    padding-top: 30px;
    color: #000;
}
.right {
    float: right;
}
.main_menu {}
.main_menu ul#nav{
    margin: 0;
    padding: 0;
    list-style: none;
}
.main_menu ul#nav li{
    display: inline-block;
    border-right: 1px solid #000;
    margin-top: 28px;
    position: relative;
}
.main_menu ul#nav li a{
    display: block;
    font-size: 15px;
    padding: 0px 25px;
    color: #000;
    text-decoration: none;
}
.main_menu ul#nav .border{
    border-right: 0 solid;
}
.main_menu ul#nav li a:hover{
    color: lightseagreen;
    font-weight: 700;
}

/* HEADER BOTTOM AREA */

.header_bottom{
    height: 100px;
    margin-top: 30px;
}
.menu{
    float: left;
}
.menu ul#nav {
    list-style: outside none none;
    margin: 0 245px 0 52px;
    padding: 0;
}
.menu ul#nav > li {
    display: inline-block;
    position: relative;
}
.menu ul#nav li a {
    display: block;
    font-size: 17px;
    padding: 10px 12px;
    text-decoration: none;
    color: #000;
    font-style: italic;
}
.active{
    background-color: gray;
    color: #fff;
}
.menu ul#nav li a:hover {
    background-color: gray;
    color: #fff;
}
.menu ul#nav li .sub_menu{
    position: absolute;
    top: 500%;
    left: 0;
    min-width: 200px;
    opacity: 0;
    transition-property: all ;
    transition-duration:  0.3s;
    transition-timing-function:  ease;
    transition-delay:  0s;
    z-index: 99999;
    background: #DDDDDD;
    list-style: none;
}
.menu ul#nav li:hover .sub_menu{
    opacity: 1;
    top: 100%;
}

.text{
    float: left;
}
.text h1 {
    font-size: 80px;
    margin-left: 16px;
    margin-top: -12px;
}
.social_icon{
    float: right;
    margin-top: 10px;
}
.social_icon a {
    border: 2px solid #d9bf8f;
    border-radius: 50%;
    color: #d9bf8f;
    display: inline-table;
    font-size: 14px;
    height: 30px;
    margin-right: 20px;
    text-align: center;
    text-decoration: none;
    width: 30px;
}
.social_icon a i {
    display: table-cell;
    vertical-align: middle;
}

/* SLIDER AREA*/

.slider_area{
    background-image: url("image/slider.jpg");
    background-size: cover;
    height: 600px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin-top: 200px;
}
.slider-text-table {
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 9;
}
.slider-text-table-cell {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.slider-text-table-cell h5{
    font-size: 16px;
}   
.slider-text-table-cell h3{
    color: #000000;
    font-size: 55px;
    font-weight: 700;
}   
.slider-text-table-cell img{
    padding: 15px;
}   
.slider-text-table-cell a{
    background-color: #f09d66;
    color: #ffffff;
    display: table;
    margin-left: 695px;
    margin-top: 20px;
    padding: 10px 22px;
    text-decoration: none;
}   

/* SHOPPING AREA*/

.shopping_area{
    height: 60px;
    margin-bottom: 80px;
    margin-top: 600px;
    margin-left: 80px;
}
.shop_text {
    background-color: #d9bf8f;
    color: #ffffff;
    float: left;
    margin-left: 80px;
    margin-right: 30px;
    padding: 10px 74px;
    position: relative;
}
.shop_text:after{
    background-color: #d9bf8f;
    content: "";
    height: 48px;
    left: 0;
    margin-left: 346px;
    margin-top: 10px;
    position: absolute;
    top: 0;
    transform: rotate(45deg);
    width: 50px;
    z-index: 10;
}
.shop_text i{
    font-weight: 700;
}
.shop_text h2 {
  display: inline-block;
  margin-left: 20px;
}
.shop_text p {
    margin-left: 40px;
    font-size: 14px;
}

.returns_text {
    background-color: #000000;
    color: #ffffff;
    float: left;
    margin-right: 30px;
    padding: 10px 74px;
    position: relative;
}
.returns_text:after{
    background-color: #ffffff;
    content: "";
    height: 60px;
    left: 0;
    margin-left: 380px;
    position: absolute;
    top: 0;
    transform: rotate(45deg);
    width: 50px;
}
.returns_text:before{
    background-color: #ffffff;
    content: "";
    height: 48px;
    left: 0;
    margin-left: -24px;
    margin-top: 10px;
    position: absolute;
    top: 0;
    transform: rotate(45deg);
    width: 48px;
}
.returns_text i {
    font-weight: 700;
}
.returns_text h2 {
    display: inline-block;
    margin-left: 20px;
}
.returns_text p{
    margin-left: 40px;
    font-size: 14px;
}
.support_text {
    background-color: #d9bf8f;
    color: #ffffff;
    float: left;
    padding: 10px 74px;
    position: relative;
}
.support_text:after{
    background-color: #d9bf8f;
    content: "";
    height: 48px;
    left: 0;
    margin-left: -25px;
    margin-top: 10px;
    position: absolute;
    top: 0;
    transform: rotate(45deg);
    width: 50px;
    z-index: 10;
}
.support_text i {
    font-weight: 700;
}
.support_text h2 {
    display: inline-block;
    margin-left: 20px;
}
.support_text p {
    margin-left: 42px;
    font-size: 14px;
}

/* HAND PICTURE AREA*/
.hand_pic_area{}
.hand_text {
    text-align: center;
    position: relative;
}
.hand_text:before{
    background-color: #d9bf8f;
    border: 1px solid #d9bf8f;
    content: "";
    height: 15px;
    position: absolute;
    right: 520px;
    top: 4px;
    transform: rotate(45deg);
    width: 15px;
}
.hand_text:after{
    background-color: #d9bf8f;
    border: 1px solid #d9bf8f;
    content: "";
    height: 15px;
    position: absolute;
    left: 520px;
    top: 4px;
    transform: rotate(45deg);
    width: 15px;
}
.hand_text h2{
    margin-bottom: 50px;
    position: relative;
    font-style: italic;
}
.hand_text h2:before{
    border-top: 1px solid #EAEAEA;
    content: "";
    height: 50px;
    position: absolute;
    right: 90px;
    top: 12px;
    width: 350px;
}
.hand_text h2:after{
    border-top: 1px solid #EAEAEA;
    content: "";
    height: 55px;
    left: 80px;
    position: absolute;
    top: 15px;
    width: 360px;
}
.collection_area{
    margin-left: 50px;
    margin-right: 50px;
}
.left_col{
    text-align: left;
}
.imgshoe{
    display: block;
    height: 300px;
    width: 340px;
}
.baceimg{
    height: 300px;
    margin-top: 25px;
    width: 340px;
}
.collection{
    
}
.collection img {
    display: block;
    height: 620px;
    margin-left: 515px;
    margin-top: -630px;
}
.right_col{}
.imgring{
    display: block;
    float: right;
    height: 300px;
    margin-top: -620px;
    width: 340px;
}
.imgparce{
    float: right;
    height: 300px;
    margin-top: -297px;
    width: 340px;
}
/* SUMMER COLLECTION AREA*/

.summer_collection {
    padding-bottom: 80px;
}
.summer_text {
    position: relative;
    margin-top: 70px;
    margin-bottom: 50px;
}
.summer_text:before {
    background-color: #d9bf8f;
    border: 1px solid #d9bf8f;
    content: "";
    height: 15px;
    position: absolute;
    right: 520px;
    top: 4px;
    transform: rotate(45deg);
    width: 15px;
}
.summer_text:after {
    background-color: #d9bf8f;
    border: 1px solid #d9bf8f;
    content: "";
    height: 15px;
    position: absolute;
    left: 520px;
    top: 4px;
    transform: rotate(45deg);
    width: 15px;
}
.summer_text h2 {
    text-align: center;
    font-style: italic;
}
.summer_text h2:before {
    border-top: 1px solid #EAEAEA;
    content: "";
    height: 50px;
    position: absolute;
    right: 90px;
    top: 12px;
    width: 350px;
}
.summer_text h2:after {
    border-top: 1px solid #EAEAEA;
    content: "";
    height: 55px;
    left: 80px;
    position: absolute;
    top: 15px;
    width: 360px;
}
.summer_gallary {
  margin-left: 195px;
}
.gallary {
    position: relative;
    float: left;
    margin-bottom: 30px;
    margin-right: 30px;
    width: 260px;
    height: 300px;
    overflow: hidden;
    
}
.summer_gallary img {
}
.th_gallary{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}
.th_gallary:hover{
    
}

.th_gallary p {
    background-color: #ffffff;
    border-radius: 50%;
    font-size: 20px;
    height: 40px;
    margin-top: 27px;
    padding-top: 12px;
    text-align: center;
    width: 50px;
    font-weight: 700;
    margin-left: 10px;
    float: right;
}
.list {
    color: #000;
    margin-top: 5px;
    margin-left: 2px;
}
.th_gallary p:hover{
    background-color: #FEAB12;
    color: #fff;
    font-weight: 700;
}
.th_gallary a {
    position: absolute;
    bottom: 0;
    display: inline-block;
    padding:6px 0px;
    background-color: #000;
    left: 50%;
    margin-left: -60px;
    text-align: center;
    width: 120px;
    color: #fff;
    text-decoration: none;
}
.th_gallary a:hover{
    background-color: #F0975C;
}
.th_gallary a:before,.th_gallary a:after{
    position: absolute;
    width: 0;
    height: 0;
    border-width: 17px;
    border-style: solid;
    content: ""; 
    top: 0;
    
}
.th_gallary a:before{
    left: -32px;
    border-color: transparent #000 #000 transparent;
}
.th_gallary a:hover:before{
    border-color: transparent #F0975C #F0975C transparent;
}
.th_gallary a:after{
    right: -33px;
    border-color: transparent transparent #000 #000;
}
.th_gallary a:hover:after{
    border-color: transparent transparent #F0975C #F0975C;
}
.th_gallary a.image_details{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    margin-left: -25px;
    margin-top: -25px;
    line-height: 50px;
    display: inline-block;
    padding: 0;
}
.image_details:before,.image_details:after{
    display: none;
}
/*.th_gallary::before {
  border: 1px solid #ffffff;
  content: "";
  height: calc(100% - 30px);
  left: 15px;
  position: absolute;
  top: 15px;
  width: calc(100% - 30px);
}
*/
/* OUR BRAND AREA*/
.our_brand_area {
    margin-bottom: 100px;
    margin-top: 625px;
    text-align: center;
}
.brand_text{
    position: relative;
}
.brand_text:before{
    background-color: #d9bf8f;
    border: 1px solid #d9bf8f;
    content: "";
    height: 15px;
    position: absolute;
    right: 520px;
    top: 4px;
    transform: rotate(45deg);
    width: 15px;
}
.brand_text:after{
    background-color: #d9bf8f;
    border: 1px solid #d9bf8f;
    content: "";
    height: 15px;
    position: absolute;
    left: 520px;
    top: 4px;
    transform: rotate(45deg);
    width: 15px;
}
.brand_text h2{
    position: relative;
    margin-bottom: 50px;
}
.brand_text h2:before{
    border-top: 1px solid #EAEAEA;
    content: "";
    height: 50px;
    position: absolute;
    right: 90px;
    top: 12px;
    width: 350px;
}
.brand_text h2:after{
    border-top: 1px solid #EAEAEA;
    content: "";
    height: 55px;
    left: 80px;
    position: absolute;
    top: 15px;
    width: 360px;
}
.brand_info{
    width: 100%;
}
.brand_info img{
    margin: 0 60px;
}

/* OUR CUSTOMER SAYS AREA*/

.customer_area{}
.customer_text{
    position: relative;
}
.customer_text:before {
    background-color: #d9bf8f;
    border: 1px solid #d9bf8f;
    content: "";
    height: 15px;
    position: absolute;
    right: 495px;
    top: 4px;
    transform: rotate(45deg);
    width: 15px;
}
.customer_text::after {
  background-color: #d9bf8f;
  border: 1px solid #d9bf8f;
  content: "";
  height: 15px;
  left: 540px;
  position: absolute;
  top: 4px;
  transform: rotate(45deg);
  width: 15px;
}
.customer_text h2{
    margin-bottom: 70px;
    margin-left: 58px;
    position: relative;
    text-align: center;
}
.customer_text h2:before{
    border-top: 1px solid #EAEAEA;
    content: "";
    height: 50px;
    position: absolute;
    right: 85px;
    top: 12px;
    width: 348px;
}
.customer_text h2:after{
    border-top: 1px solid #EAEAEA;
    content: "";
    height: 55px;
    left: 65px;
    position: absolute;
    top: 15px;
    width: 360px;
}
.bg-customer{
    background-image: url("image/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 375px;
}
.customer_left{
    float: left;
    width: 50%;
}
.text-customer_left{
    display: block;
    margin-left: 280px;
    margin-top: -225px;
    text-align: left;
}
.text-customer_left  p {
  font-style: italic;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 30px;
}
.text-customer_left h2 {
    font-size: 30px;
    font-style: italic;
    margin-top: 70px;
}
.text-customer_left span {
  color: #7f7e7e;
  display: block;
  font-size: 14px;
  font-weight: 700;
  margin-top: 10px;
    font-style: italic;
}
.text-customer {}
.customer_left img {
  height: 315px;
  text-align: left;
  width: 260px;
    margin-top: 30px;
}
.customer_right{}
.customer_right  img {
    height: 315px;
    margin-left: 400px;
    text-align: right;
    width: 260px;
    margin-top: 30px;
}
.text-customer_right {
    display: block;
    margin-left: 785px;
    margin-top: -225px;
    text-align: right;
    width: 275px;
}
.text-customer_right p {
    color: #ffffff;
    font-size: 18px;
    font-style: italic;
    line-height: 30px;
}
.text-customer_right h2 {
    font-size: 30px;
    font-style: italic;
    margin-top: 70px;
}
.text-customer_right span {
  color: #7f8e87;
  display: block;
  font-size: 14px;
  margin-top: 10px;
}
/* ALL INFORMATION AREA*/

.all_info_area {
  background-color: #141414;
  height: 330px;
    padding-left: 75px;
}
.shop_area, .information_area, .stay_connect_area {
  display: inline-block;
  float: left;
  margin-left: 185px;
  margin-top: 30px;
}
.shop_area h3, .information_area h3, .stay_connect_area h3 {
  color: #ffffff;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 40px;
  margin-top: 25px;
}
.shop_area a, .information_area a {
  color: #737373;
  display: block;
  line-height: 35px;
  text-decoration: none;
    font-size: 14px;
}
.information_area {
  margin-left: 150px;
}
.information_area a{
    line-height: 29px;
}
.stay_connect_area a {
  background-color: #ffffff;
  border-radius: 50%;
  color: #000000;
  display: inline-table;
  font-size: 15px;
  height: 35px;
  text-align: center;
  text-decoration: none;
  width: 35px;
}
.stay_connect_area a i {
  display: table-cell;
  vertical-align: middle;
}
.email {
  border: medium none;
  border-radius: 15px 0 0 15px;
  color: #737373;
  font-size: 14px;
  padding: 10px 20px;
}
.button {
  border: medium none;
  border-radius: 0 15px 15px 0;
  font-size: 14px;
  margin-left: -5px;
  padding: 9px 5px;
}
.footer_area{}
.footer_text{
    position: relative;
}
.footer_text:before{
    border-top: 1px solid #363636;
    content: "";
    height: 100px;
    left: 195px;
    position: absolute;
    top: 0;
    width: 1015px;
}
.footer_text p{
    background-color: #141414;
color: #363636;
font-size: 12px;
padding-bottom: 30px;
padding-left: 266px;
padding-top: 45px;
}
/*FORM AREA*/
.form_area {
  margin-left: 35%;
}
.form_text {
  margin-left: 35%;
}
.form_text h2 {
  border-bottom: 2px solid #000000;
  font-size: 40px;
  width: 345px;
}
.form-group {
  font-size: 25px;
}
.form-control {
  padding: 10px 85px;
}
.s_name{
    display: block;
    margin: 15px 0px;
}
.s_phone{
    display: block;
    margin: 15px 0px;
}
.s_email{
    display: block;
    margin: 15px 0px;
}
.s_pass{
    display: block;
    margin: 15px 0px;
}
.submit_button {
  color: #000000;
  font-weight: 700;
  margin-left: 100px;
  margin-top: 30px;
  padding: 7px 12px;
    font-size: 18px;
}





