.terms{
	height:650px;
	width:auto;
	background-color:#FAFAFA;
}
.terms h2{
	padding-top:70px;
	padding-left:50px;
	color:#424242;
}
.terms h4{
	color:#616161;
	padding-left:50px;
	padding-top:25px;
}
.terms ul {
	padding-left:95px;
}
.terms ul li{
	color:#E65100;
	line-height:35px;
}
.terms p{
	padding-left:50px;
	color:#757575;
}