@media only screen and (min-width: 768px) and (max-width: 991px) {
	
    .column{
    }
    body{
    }
    .footer_text::before {
        width: 0px;
    }
    .footer_area {
      padding-top: 1px;
      width: 100%;
    }
    .footer_area {
        width: 100%;
    }
    .footer_text p {
        padding: 20px 94px 30px 353px;
    }
    .shop_area, .information_area, .stay_connect_area {
          margin-left: 85px;
    }
    .customer_left img {
          height: 200px;
          width: 150px;
    }
    .text-customer_left {
        margin-top: -164px;
        margin-left: 175px;
    }
    .text-customer_left p {
          font-size: 14px;
          line-height: 27px;
    }
    .text-customer_left h2 {
          font-size: 22px;
          margin-top: 25px;
    }
    .customer_right img {
      height: 200px;
      margin-left: 380px;
      width: 150px;
    }
    .text-customer_right p {
      font-size: 14px;
      line-height: 25px;
    }
    .text-customer_right h2 {
      font-size: 22px;
      margin-top: 20px;
    }
    .customer_right img {
        margin-left: 320px;
    }
    .text-customer_right {
          margin-left: 520px;
          margin-top: -150px;
    }
    .bg-customer {
      height: 265px;
    }
    .customer_text::before {
      right: 625px;
    }
    .customer_text::after {
        left: 625px;
    }
    .customer_text h2::after {
      left: 12px;
      width: 245px;
    }
    .customer_text h2::before {
      right: 30px;
      width: 245px;
    }
    .customer_text h2 {
          margin-bottom: 35px;
          margin-left: 10px;
    }
    .our_brand_area {
        margin-top: 560px;
    }
    .brand_info img {
          height: 70px;
          margin: 0 30px;
          width: 70px;
    }
    .brand_text h2::after {
          left: 60px;
          width: 210px;
    }
    .brand_text h2::before {
          right: 65px;
          width: 210px;
    }
    .brand_text::after {
          height: 10px;
          left: 615px;
          top: 6px;
          width: 10px;
    }
    .brand_text::before {
          height: 10px;
          right: 620px;
          top: 6px;
          width: 10px;
    }
    .summer_gallary {
        margin-left: 20px;
    }
    .gallary {
        margin-right: 5px;
        height: 280px;
        margin-bottom: 5px;
        width: 230px;
    }
    .summer_text h2::after {
          left: 20px;
          width: 235px;
    }
    .summer_text h2::before {
          right: 25px;
          width: 235px;
    }
    .summer_text::after {
        left: 645px;
        top: 6px;
        width: 10px;
        height: 10px;
    }
    .summer_text::before {
        right: 635px;
        top: 6px;
        width: 10px;
        height: 10px;
    }
    .collection_area {
      margin-left: 20px;
      margin-right: 20px;
    }
    .imgshoe {
          height: 230px;
          width: 270px;
    }
    .baceimg {
          height: 230px;
          width: 270px;
    }
    .collection img {
          height: 488px;
          margin-left: 330px;
          margin-top: -492px;
    }
    .imgring {
          height: 230px;
          margin-top: -488px;
          width: 270px;
    }
    .imgparce {
          height: 230px;
          margin-top: -232px;
          width: 270px;
    }
    .hand_text h2::after {
          left: 20px;
          width: 250px;
    }
    .hand_text h2::before {
          right: 25px;
          width: 250px;
    }
    .hand_text::after {
          left: 610px;
          top: 6px;
          width: 10px;
          height: 10px;
    }
    .hand_text::before {
          right: 615px;
          top: 6px;
          width: 10px;
          height: 10px;
    }
    .shop_text::after {
          height: 46px;
          left: 4px;
          margin-left: 264px;
          margin-top: 10px;
          width: 46px;
    }
    .shop_text {
          margin-left: 20px;
          margin-right: 20px;
          padding: 9px 34px;
    }
    .returns_text::after {
        left: -58px;
    }
    .returns_text {
        padding: 9px 46px;
    }
    .support_text {
          margin-left: -13px;
          padding: 9px 30px;
    }
    .support_text::after {
          height: 46px;
          margin-left: -23px;
          margin-top: 10px;
          width: 46px;
    }
    .slider_area {
        height: 470px;
    }
    .slider-text-table-cell a {
        margin-left: 428px;
    }
    .menu ul#nav {
        margin: 0 90px 0 10px;
    }
    
}




@media only screen and (max-width: 767px) {
	
    .column{
        width: 750px;
    }
	
}


@media only screen and (min-width: 480px) and (max-width: 767px) {
	
    .main_menu {
        margin-right: 15px;
    }
    .main_menu ul#nav li a {
          color: #000000;
          display: block;
          font-size: 12px;
          padding: 0 5px;
          text-decoration: none;
    }
    .left a i {
          font-size: 14px;
          padding-left: 45px;
    }
    .header_top {
        height: 70px;
    }
    .menu ul#nav {
        margin: 0 18px 0 10px;
    }
    .menu ul#nav li a {
        font-size: 15px;
    }
    .text h1 {
          font-size: 45px;
          margin-left: -10px;
          margin-top: -8px;
    }
    .slider_area {
        height: 366px;
    }
    .slider-text-table-cell a {
        margin-left: 315px;
    }
    .shop_text::after {
          height: 33px;
            margin-left: 165px;
            margin-top: 7px;
            width: 33px;
    }
    .shop_text i {
        font-size: 12px;
    }
    .shop_text h2 {
        font-size: 12px;
    }
    .shop_text p {
        margin-left: 34px;
        font-size: 10px;
    }
    .shop_text {
        margin-left: 12px;
        padding: 7px 27px;
    }
    .returns_text::before {
          height: 34px;
          margin-left: -17px;
          margin-top: 10px;
          top: -4px;
          width: 34px;
    }
    .returns_text::after {
          height: 34px;
          margin-left: 217px;
          top: 7px;
          width: 33px;
    }
    .returns_text i {
        font-size: 14px;
    }
    .returns_text h2 {
        font-size: 12px;
        margin-left: 20px;
    }
    .returns_text p {
        font-size: 10px;
        margin-left: 38px;
    }
    .returns_text {
          margin-left: -13px;
          padding: 7px 45px;
    }
    .support_text::after {
          height: 33px;
          left: -28px;
          margin-left: 11px;
          top: -3px;
          width: 34px;
    }
    .support_text i {
        font-size: 14px;
    }
    .support_text h2 {
        font-size: 12px;
    }
    .support_text p {
        font-size: 10px;
        margin-left: 42px;
    }
    .support_text {
          margin-left: -13px;
          padding: 7px 35px;
    }
    .shopping_area {
          margin-bottom: 48px;
          margin-left: 45px;
          margin-top: 425px;
    }
    .hand_text::before {
      right: 500px;
      width: 10px;
        height: 10px;
        top: 7px;
    }
    .hand_text::after {
          left: 505px;
          width: 10px;
        height: 10px;
        top: 6px;
    }
    .hand_text h2::after {
          left: 20px;
          width: 200px;
    }
    .hand_text h2::before {
          right: 20px;
          width: 200px;
    }
    .left_col {
        margin-left: -33px;
    }
    .imgshoe {
          height: 180px;
          width: 215px;
    }
    .baceimg {
      height: 180px;
      width: 215px;
    }
    .collection img {
          height: 385px;
          margin-left: 218px;
          margin-top: -388px;
    }
    .imgring {
          height: 180px;
          margin-right: -16px;
          margin-top: -388px;
          width: 215px;
    }
    .imgparce {
          height: 180px;
          margin-right: -16px;
          margin-top: -184px;
          width: 215px;
    }
    .right_col {
        margin-right: -18px;
    }
    .summer_text::before {
      right: 505px;
      width: 15px;
    }
    .summer_text::after {
      left: 505px;
      width: 15px;
    }
    .summer_text h2::after {
      left: 6px;
      width: 200px;
    }
    .summer_text h2::before {
      right: 6px;
      width: 200px;
    }
    .our_brand_area {
      margin-top: 1240px;
    }
    
    .brand_text::after {
      left: 470px;
    }
    .brand_text::before {
      right: 470px;
    }
    .brand_text h2::before {
      right: 30px;
      width: 200px;
    }
    .brand_text h2::after {
      left: 30px;
      width: 200px;
    }
    .brand_info img {
      margin: 10px 60px;
    }
    .bg-customer {
      height: 215px;
    }
    .customer_text::before {
      right: 460px;
    }
    .customer_text::after {
      left: 520px;
    }
    .customer_text h2::before {
      right: 5px;
      width: 190px;
    }
    .customer_text h2::after {
      left: -22px;
      width: 215px;
    }
    .customer_left img {
        height: 175px;
        width: 157px;
        margin-top: 7px;
    }
    .text-customer_left {
      margin-left: 148px;
      margin-top: -136px;
    }
    .text-customer_left p {
      font-size: 14px;
        line-height: 25px;
    }
    .text-customer_left h2 {
      font-size: 25px;
      margin-top: 15px;
    }
    .customer_right img {
      height: 175px;
      margin-left: 218px;
      width: 157px;
      margin-top: 7px;
    }
    .text-customer_right {
      margin-left: 328px;
      margin-top: -132px;
    }
    .text-customer_right p {
      font-size: 14px;
        line-height: 25px;
    }
    .text-customer_right h2 {
      font-size: 25px;
      margin-top: 14px;
    }
    .all_info_area {
      height: 335px;
    }
    .shop_area, .information_area, .stay_connect_area {
      margin-left: 52px;
    }
    .footer_text::before {
      left: 50px;
      width: 670px;
    }
   
}

